In [1]:
import h2o
import time
h2o.init()

No instance found at ip and port: localhost:54321. Trying to start local jar...


JVM stdout: /tmp/tmpM721n5/h2o_yannick_started_from_python.out
JVM stderr: /tmp/tmpZzPgBO/h2o_yannick_started_from_python.err
Using ice_root: /tmp/tmprVUSEy


Java Version: java version "1.7.0_95"
OpenJDK Runtime Environment (IcedTea 2.6.4) (7u95-2.6.4-0ubuntu0.14.04.1)
OpenJDK 64-Bit Server VM (build 24.95-b01, mixed mode)


Starting H2O JVM and connecting: ........................... Connection successful!

/home/yannick/bin/anaconda3/envs/py27/lib/python2.7/site-packages/IPython/core/formatters.py:90: DeprecationWarning: DisplayFormatter._ipython_display_formatter_default is deprecated: use @default decorator instead.
  def _ipython_display_formatter_default(self):
/home/yannick/bin/anaconda3/envs/py27/lib/python2.7/site-packages/IPython/core/formatters.py:96: DeprecationWarning: DisplayFormatter._formatters_default is deprecated: use @default decorator instead.
  def _formatters_default(self):
/home/yannick/bin/anaconda3/envs/py27/lib/python2.7/site-packages/IPython/core/formatters.py:675: DeprecationWarning: PlainTextFormatter._deferred_printers_default is deprecated: use @default decorator instead.
  def _deferred_printers_default(self):
/home/yannick/bin/anaconda3/envs/py27/lib/python2.7/site-packages/IPython/core/formatters.py:667: DeprecationWarning: PlainTextFormatter._singleton_printers_default is deprecated: use @default decorator instead.
  def _singleton_printers_default(self):
/home/yannick/bin/anaconda3/envs/py27/lib/python2.7/site-packages/IPython/core/formatters.py:670: DeprecationWarning: PlainTextFormatter._type_printers_default is deprecated: use @default decorator instead.
  def _type_printers_default(self):
/home/yannick/bin/anaconda3/envs/py27/lib/python2.7/site-packages/IPython/core/formatters.py:667: DeprecationWarning: PlainTextFormatter._singleton_printers_default is deprecated: use @default decorator instead.
  def _singleton_printers_default(self):
/home/yannick/bin/anaconda3/envs/py27/lib/python2.7/site-packages/IPython/core/formatters.py:670: DeprecationWarning: PlainTextFormatter._type_printers_default is deprecated: use @default decorator instead.
  def _type_printers_default(self):
/home/yannick/bin/anaconda3/envs/py27/lib/python2.7/site-packages/IPython/core/formatters.py:675: DeprecationWarning: PlainTextFormatter._deferred_printers_default is deprecated: use @default decorator instead.
  def _deferred_printers_default(self):

------------------------------  --------------------------------------
H2O cluster uptime:             3 seconds 176 milliseconds
H2O cluster version:            3.8.0.3
H2O cluster name:               H2O_started_from_python_yannick_yjj527
H2O cluster total nodes:        1
H2O cluster total free memory:  3.36 GB
H2O cluster total cores:        8
H2O cluster allowed cores:      8
H2O cluster healthy:            True
H2O Connection ip:              127.0.0.1
H2O Connection port:            54321
H2O Connection proxy:
Python Version:                 2.7.11
------------------------------  --------------------------------------

In [2]:
dir_prefix = "./"
small_test = dir_prefix + "201310-citibike-tripdata.zip"
data = h2o.import_frame(path=small_test)

Parse Progress: [##################################################] 100%

/home/yannick/bin/anaconda3/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:3: DeprecationWarning: import_frame is deprecated. Use import_file.
  app.launch_new_instance()

In [3]:
data.describe()
#data.dim()
data.head()

Rows:1,037,712 Cols:15

Chunk compression summary:

chunk_type    chunk_name                 count    count_percentage    size       size_percentage
------------  -------------------------  -------  ------------------  ---------  -----------------
C0D           Constant Reals             31       6.66667             2,4 KB     0.00443741
C1            1-Byte Integers            31       6.66667             1015,4 KB  1.86053
C1N           1-Byte Integers (w/o NAs)  31       6.66667             1015,4 KB  1.86053
C1S           1-Byte Fractions           31       6.66667             1015,9 KB  1.86141
C2            2-Byte Integers            155      33.3333             9,9 MB     18.5864
C2S           2-Byte Fractions           6        1.29032             384,5 KB   0.70455
C4            4-Byte Integers            25       5.37634             3,2 MB     6.02277
C4S           4-Byte Fractions           22       4.73118             2,8 MB     5.19361
C8            64-bit Integers            31       6.66667             7,9 MB     14.8578
C8D           64-bit Reals               102      21.9355             26,1 MB    49.048

Frame distribution summary:

                 size     number_of_rows    number_of_chunks_per_column    number_of_chunks
---------------  -------  ----------------  -----------------------------  ------------------
127.0.0.1:54321  53,3 MB  1.03771e+06       31                             465
mean             53,3 MB  1.03771e+06       31                             465
min              53,3 MB  1.03771e+06       31                             465
max              53,3 MB  1.03771e+06       31                             465
stddev           0  B     0                 0                              0
total            53,3 MB  1.03771e+06       31                             465

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
type,int,int,time,int,enum,real,real,int,enum,real,real,int,enum,int,int
mins,60.0,NaN,1.380578683e+12,72.0,0.0,40.680342423,-74.01713445,72.0,0.0,40.680342423,-74.01713445,14529.0,0.0,1899.0,0.0
mean,825.614754383,0.0,1.38188267837e+12,443.714212614,NaN,40.7345188586,-73.9911328848,443.207421712,NaN,40.7342847885,-73.9912702982,17644.0716451,0.906095332809,1975.77839486,1.12375591686
maxs,1259480.0,NaN,1.38338971e+12,3002.0,329.0,40.770513,-73.9500479759,3002.0,329.0,40.770513,-73.9500479759,20757.0,1.0,1997.0,2.0
sigma,2000.3732323,-0.0,779659645.99,354.434325075,NaN,0.0195734073053,0.0123161234106,357.398217058,NaN,0.0195578458116,0.0123855811965,1717.68112134,0.291696182123,11.1314906238,0.544380593291
zeros,0,-1037712,0,0,5239,0,0,0,5449,0,0,0,97446,0,97498
missing,0,1037712,0,0,0,0,0,0,0,0,0,0,0,97445,0
0,326.0,nan,1.380578794e+12,239.0,Willoughby St & Fleet St,40.69196566,-73.9813018,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16052.0,Subscriber,1982.0,1.0
1,729.0,nan,1.38057921e+12,322.0,Clinton St & Tillary St,40.696192,-73.991218,398.0,Atlantic Ave & Furman St,40.69165183,-73.9999786,19412.0,Customer,nan,0.0
2,520.0,nan,1.380579004e+12,174.0,E 25 St & 1 Ave,40.7381765,-73.97738662,403.0,E 2 St & 2 Ave,40.72502876,-73.99069656,19645.0,Subscriber,1984.0,1.0
3,281.0,nan,1.380578766e+12,430.0,York St & Jay St,40.7014851,-73.98656928,323.0,Lawrence St & Willoughby St,40.69236178,-73.98631746,16992.0,Subscriber,1985.0,1.0
4,196.0,nan,1.380578683e+12,403.0,E 2 St & 2 Ave,40.72502876,-73.99069656,401.0,Allen St & Rivington St,40.72019576,-73.98997825,15690.0,Subscriber,1986.0,1.0
5,1948.0,nan,1.380580456e+12,369.0,Washington Pl & 6 Ave,40.73224119,-74.00026394,307.0,Canal St & Rutgers St,40.71427487,-73.98990025,19846.0,Subscriber,1977.0,1.0
6,1327.0,nan,1.380579835e+12,254.0,W 11 St & 6 Ave,40.73532427,-73.99800419,539.0,Metropolitan Ave & Bedford Ave,40.71534825,-73.96024116,14563.0,Subscriber,1986.0,2.0
7,1146.0,nan,1.380579663e+12,490.0,8 Ave & W 33 St,40.751551,-73.993934,438.0,St Marks Pl & 1 Ave,40.72779126,-73.98564945,16793.0,Subscriber,1959.0,1.0
8,380.0,nan,1.380578898e+12,468.0,Broadway & W 55 St,40.7652654,-73.98192338,385.0,E 55 St & 2 Ave,40.75797322,-73.96603308,16600.0,Customer,nan,0.0
9,682.0,nan,1.380579207e+12,300.0,Shevchenko Pl & E 6 St,40.728145,-73.990214,519.0,Pershing Square N,40.75188406,-73.97770164,15204.0,Subscriber,1992.0,1.0

tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
326,nan,1.38058e+12,239,Willoughby St & Fleet St,40.692,-73.9813,366,Clinton Ave & Myrtle Ave,40.6933,-73.9689,16052,Subscriber,1982,1
729,nan,1.38058e+12,322,Clinton St & Tillary St,40.6962,-73.9912,398,Atlantic Ave & Furman St,40.6917,-74,19412,Customer,nan,0
520,nan,1.38058e+12,174,E 25 St & 1 Ave,40.7382,-73.9774,403,E 2 St & 2 Ave,40.725,-73.9907,19645,Subscriber,1984,1
281,nan,1.38058e+12,430,York St & Jay St,40.7015,-73.9866,323,Lawrence St & Willoughby St,40.6924,-73.9863,16992,Subscriber,1985,1
196,nan,1.38058e+12,403,E 2 St & 2 Ave,40.725,-73.9907,401,Allen St & Rivington St,40.7202,-73.99,15690,Subscriber,1986,1
1948,nan,1.38058e+12,369,Washington Pl & 6 Ave,40.7322,-74.0003,307,Canal St & Rutgers St,40.7143,-73.9899,19846,Subscriber,1977,1
1327,nan,1.38058e+12,254,W 11 St & 6 Ave,40.7353,-73.998,539,Metropolitan Ave & Bedford Ave,40.7153,-73.9602,14563,Subscriber,1986,2
1146,nan,1.38058e+12,490,8 Ave & W 33 St,40.7516,-73.9939,438,St Marks Pl & 1 Ave,40.7278,-73.9856,16793,Subscriber,1959,1
380,nan,1.38058e+12,468,Broadway & W 55 St,40.7653,-73.9819,385,E 55 St & 2 Ave,40.758,-73.966,16600,Customer,nan,0
682,nan,1.38058e+12,300,Shevchenko Pl & E 6 St,40.7281,-73.9902,519,Pershing Square N,40.7519,-73.9777,15204,Subscriber,1992,1

In [4]:
startime = data["starttime"]
secsPerDay=1000*60*60*24
data["Days"] = (startime/secsPerDay).floor()
data.describe()

Rows:1,037,712 Cols:16

Chunk compression summary:

chunk_type    chunk_name                 count    count_percentage    size       size_percentage
------------  -------------------------  -------  ------------------  ---------  -----------------
C0D           Constant Reals             62       12.5                4,8 KB     0.00887442
C1            1-Byte Integers            31       6.25                1015,4 KB  1.86044
C1N           1-Byte Integers (w/o NAs)  31       6.25                1015,4 KB  1.86044
C1S           1-Byte Fractions           31       6.25                1015,9 KB  1.86133
C2            2-Byte Integers            155      31.25               9,9 MB     18.5856
C2S           2-Byte Fractions           6        1.20968             384,5 KB   0.704518
C4            4-Byte Integers            25       5.04032             3,2 MB     6.0225
C4S           4-Byte Fractions           22       4.43548             2,8 MB     5.19338
C8            64-bit Integers            31       6.25                7,9 MB     14.8572
C8D           64-bit Reals               102      20.5645             26,1 MB    49.0458

Frame distribution summary:

                 size     number_of_rows    number_of_chunks_per_column    number_of_chunks
---------------  -------  ----------------  -----------------------------  ------------------
127.0.0.1:54321  53,3 MB  1.03771e+06       31                             496
mean             53,3 MB  1.03771e+06       31                             496
min              53,3 MB  1.03771e+06       31                             496
max              53,3 MB  1.03771e+06       31                             496
stddev           0  B     0                 0                              0
total            53,3 MB  1.03771e+06       31                             496

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Days
type,int,int,time,int,enum,real,real,int,enum,real,real,int,enum,int,int,int
mins,60.0,NaN,1.380578683e+12,72.0,0.0,40.680342423,-74.01713445,72.0,0.0,40.680342423,-74.01713445,14529.0,0.0,1899.0,0.0,NaN
mean,825.614754383,0.0,1.38188267837e+12,443.714212614,NaN,40.7345188586,-73.9911328848,443.207421712,NaN,40.7342847885,-73.9912702982,17644.0716451,0.906095332809,1975.77839486,1.12375591686,0.0
maxs,1259480.0,NaN,1.38338971e+12,3002.0,329.0,40.770513,-73.9500479759,3002.0,329.0,40.770513,-73.9500479759,20757.0,1.0,1997.0,2.0,NaN
sigma,2000.3732323,-0.0,779659645.99,354.434325075,NaN,0.0195734073053,0.0123161234106,357.398217058,NaN,0.0195578458116,0.0123855811965,1717.68112134,0.291696182123,11.1314906238,0.544380593291,-0.0
zeros,0,-1037712,0,0,5239,0,0,0,5449,0,0,0,97446,0,97498,-1037712
missing,0,1037712,0,0,0,0,0,0,0,0,0,0,0,97445,0,1037712
0,326.0,nan,1.380578794e+12,239.0,Willoughby St & Fleet St,40.69196566,-73.9813018,366.0,Clinton Ave & Myrtle Ave,40.693261,-73.968896,16052.0,Subscriber,1982.0,1.0,nan
1,729.0,nan,1.38057921e+12,322.0,Clinton St & Tillary St,40.696192,-73.991218,398.0,Atlantic Ave & Furman St,40.69165183,-73.9999786,19412.0,Customer,nan,0.0,nan
2,520.0,nan,1.380579004e+12,174.0,E 25 St & 1 Ave,40.7381765,-73.97738662,403.0,E 2 St & 2 Ave,40.72502876,-73.99069656,19645.0,Subscriber,1984.0,1.0,nan
3,281.0,nan,1.380578766e+12,430.0,York St & Jay St,40.7014851,-73.98656928,323.0,Lawrence St & Willoughby St,40.69236178,-73.98631746,16992.0,Subscriber,1985.0,1.0,nan
4,196.0,nan,1.380578683e+12,403.0,E 2 St & 2 Ave,40.72502876,-73.99069656,401.0,Allen St & Rivington St,40.72019576,-73.98997825,15690.0,Subscriber,1986.0,1.0,nan
5,1948.0,nan,1.380580456e+12,369.0,Washington Pl & 6 Ave,40.73224119,-74.00026394,307.0,Canal St & Rutgers St,40.71427487,-73.98990025,19846.0,Subscriber,1977.0,1.0,nan
6,1327.0,nan,1.380579835e+12,254.0,W 11 St & 6 Ave,40.73532427,-73.99800419,539.0,Metropolitan Ave & Bedford Ave,40.71534825,-73.96024116,14563.0,Subscriber,1986.0,2.0,nan
7,1146.0,nan,1.380579663e+12,490.0,8 Ave & W 33 St,40.751551,-73.993934,438.0,St Marks Pl & 1 Ave,40.72779126,-73.98564945,16793.0,Subscriber,1959.0,1.0,nan
8,380.0,nan,1.380578898e+12,468.0,Broadway & W 55 St,40.7652654,-73.98192338,385.0,E 55 St & 2 Ave,40.75797322,-73.96603308,16600.0,Customer,nan,0.0,nan
9,682.0,nan,1.380579207e+12,300.0,Shevchenko Pl & E 6 St,40.728145,-73.990214,519.0,Pershing Square N,40.75188406,-73.97770164,15204.0,Subscriber,1992.0,1.0,nan

In [5]:
grouped = data.group_by(["Days","start station name"])
bpd = grouped.count().get_frame() # Compute bikes-per-day
bpd.set_name(2, "bikes")
bpd.show()

Days,start station name,bikes
nan,1 Ave & E 15 St,5239
nan,St Marks Pl & 2 Ave,4001
nan,Avenue D & E 8 St,954
nan,Greenwich St & N Moore St,4246
nan,Clinton St & Joralemon St,1023
nan,W 31 St & 7 Ave,1925
nan,E 11 St & 2 Ave,4725
nan,Atlantic Ave & Fort Greene Pl,2142
nan,W 39 St & 9 Ave,5758
nan,Broadway & W 37 St,2360

In [6]:
# Quantiles: the data is fairly unbalanced; some station/day combos are wildly
# more popular than others.
print "Quantiles of bikes-per-day"
bpd["bikes"].quantile().show()

Quantiles of bikes-per-day

Probs,bikesQuantiles
0.01,272.19
0.1,681.7
0.25,1508.75
0.333,2095.6
0.5,2812
0.667,3844.53
0.75,4289.5
0.9,5761
0.99,10263.4

In [7]:
# A little feature engineering
# Add in month-of-year (seasonality; fewer bike rides in winter than summer)
secs = bpd["Days"]*secsPerDay
bpd["Month"]     = secs.month().asfactor()
# Add in day-of-week (work-week; more bike rides on Sunday than Monday)
bpd["DayOfWeek"] = secs.dayOfWeek()
print "Bikes-Per-Day"
bpd.show()

Bikes-Per-Day

Days,start station name,bikes,Month,DayOfWeek
nan,1 Ave & E 15 St,5239,nan,
nan,St Marks Pl & 2 Ave,4001,nan,
nan,Avenue D & E 8 St,954,nan,
nan,Greenwich St & N Moore St,4246,nan,
nan,Clinton St & Joralemon St,1023,nan,
nan,W 31 St & 7 Ave,1925,nan,
nan,E 11 St & 2 Ave,4725,nan,
nan,Atlantic Ave & Fort Greene Pl,2142,nan,
nan,W 39 St & 9 Ave,5758,nan,
nan,Broadway & W 37 St,2360,nan,

In [8]:
# ----------
# 3- Fit a model on train; using test as validation

# Function for doing class test/train/holdout split
def split_fit_predict(data):
  global gbm0,drf0,glm0,dl0
  # Classic Test/Train split
  r = data['Days'].runif()   # Random UNIForm numbers, one per row
  train = data[  r  < 0.6]
  test  = data[(0.6 <= r) & (r < 0.9)]
  hold  = data[ 0.9 <= r ]
  print "Training data has",train.ncol,"columns and",train.nrow,"rows, test has",test.nrow,"rows, holdout has",hold.nrow
  
  # Run GBM
  s = time.time()
  gbm0 = h2o.gbm(x           =train.drop("bikes"),
                 y           =train     ["bikes"],
                 validation_x=test .drop("bikes"),
                 validation_y=test      ["bikes"],
                 ntrees=500, # 500 works well
                 max_depth=6,
                 learn_rate=0.1)
  gbm_elapsed = time.time() - s

  # Run DRF
  s = time.time()
  drf0 = h2o.random_forest(x =train.drop("bikes"),
                y           =train     ["bikes"],
                validation_x=test .drop("bikes"),
                validation_y=test      ["bikes"],
                ntrees=250,
                max_depth=30)
  drf_elapsed = time.time() - s 
    
    
  # Run GLM
  train_glm = train.drop("WC1") if "WC1" in train.names else train
  test_glm  = test .drop("WC1") if "WC1" in test .names else test
  s = time.time()
  glm0 = h2o.glm(x           =train_glm.drop("bikes"),
                 y           =train_glm     ["bikes"],
                 validation_x=test_glm .drop("bikes"),
                 validation_y=test_glm      ["bikes"],
                 Lambda=[1e-5],
                 family="poisson")
  glm_elapsed = time.time() - s
  
  # Run DL
  s = time.time()
  dl0 = h2o.deeplearning(x  =train.drop("bikes"),
                y           =train     ["bikes"],
                validation_x=test .drop("bikes"),
                validation_y=test      ["bikes"],
                hidden=[50,50,50,50],
                epochs=50)
  dl_elapsed = time.time() - s
  
  # ----------
  # 4- Score on holdout set & report
  train_r2_gbm = gbm0.model_performance(train).r2()
  test_r2_gbm  = gbm0.model_performance(test ).r2()
  hold_r2_gbm  = gbm0.model_performance(hold ).r2()
#   print "GBM R2 TRAIN=",train_r2_gbm,", R2 TEST=",test_r2_gbm,", R2 HOLDOUT=",hold_r2_gbm
  
  train_r2_drf = drf0.model_performance(train).r2()
  test_r2_drf  = drf0.model_performance(test ).r2()
  hold_r2_drf  = drf0.model_performance(hold ).r2()
#   print "DRF R2 TRAIN=",train_r2_drf,", R2 TEST=",test_r2_drf,", R2 HOLDOUT=",hold_r2_drf
  
  train_r2_glm = glm0.model_performance(train).r2()
  test_r2_glm  = glm0.model_performance(test ).r2()
  hold_r2_glm  = glm0.model_performance(hold ).r2()
#   print "GLM R2 TRAIN=",train_r2_glm,", R2 TEST=",test_r2_glm,", R2 HOLDOUT=",hold_r2_glm
    
  train_r2_dl = dl0.model_performance(train).r2()
  test_r2_dl  = dl0.model_performance(test ).r2()
  hold_r2_dl  = dl0.model_performance(hold ).r2()
#   print " DL R2 TRAIN=",train_r2_dl,", R2 TEST=",test_r2_dl,", R2 HOLDOUT=",hold_r2_dl
    
  # make a pretty HTML table printout of the results

  header = ["Model", "R2 TRAIN", "R2 TEST", "R2 HOLDOUT", "Model Training Time (s)"]
  table  = [
            ["GBM", train_r2_gbm, test_r2_gbm, hold_r2_gbm, round(gbm_elapsed,3)],
            ["DRF", train_r2_drf, test_r2_drf, hold_r2_drf, round(drf_elapsed,3)],
            ["GLM", train_r2_glm, test_r2_glm, hold_r2_glm, round(glm_elapsed,3)],
            ["DL ", train_r2_dl,  test_r2_dl,  hold_r2_dl , round(dl_elapsed,3) ],
           ]
  h2o.display.H2ODisplay(table,header)
  # --------------

In [9]:
# Split the data (into test & train), fit some models and predict on the holdout data
t = split_fit_predict(bpd)
# Here we see an r^2 of 0.91 for GBM, and 0.71 for GLM.  This means given just
# the station, the month, and the day-of-week we can predict 90% of the
# variance of the bike-trip-starts.

Training data has 5 columns and 207 rows, test has 94 rows, holdout has 29

gbm Model Build Progress: [##################################################] 100%

/home/yannick/bin/anaconda3/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:22: DeprecationWarning: `h2o.gbm` is deprecated. Use the estimators sub module to build an H2OGradientBoostedEstimator.
/home/yannick/bin/anaconda3/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:32: DeprecationWarning: `h2o.random_forest` is deprecated. Use the estimators sub module to build an H2ORandomForestEstimator.

drf Model Build Progress: [##################################################] 100%

glm Model Build Progress: [##################################################] 100%

/home/yannick/bin/anaconda3/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:45: DeprecationWarning: `h2o.glm` is deprecated. Use the estimators sub module to build an H2OGeneralizedLinearEstimator.
/home/yannick/bin/anaconda3/envs/py27/lib/python2.7/site-packages/ipykernel/__main__.py:55: DeprecationWarning: `h2o.deeplearning` is deprecated. Use the estimators sub module to build an H2ODeepLearningEstimator.

deeplearning Model Build Progress: [##################################################] 100%

Model      R2 TRAIN     R2 TEST    R2 HOLDOUT    Model Training Time (s)
-------  ----------  ----------  ------------  -------------------------
GBM       0.0708899   0.0619248    -0.296214                       7.11
DRF      -0.321196   -0.243536     -0.0323723                      8
GLM       1          -0.0643858    -0.0571046                      0.637
DL        0.804319   -0.0610579    -0.0624918                      1.853