In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'a': [1, 1, 1, 2, 2, 2, 2, 3],
                   'b': [1, 3, 4, 2, 5, 8, 9, 10]})
df.diff()

    a   b
0 NaN NaN
1   0   2
2   0   1
3   1  -2
4   0   3
5   0   3
6   0   1
7   1   1

In [3]:
df["c"] = df.groupby("a").b.diff()
df

   a   b   c
0  1   1 NaN
1  1   3   2
2  1   4   1
3  2   2 NaN
4  2   5   3
5  2   8   3
6  2   9   1
7  3  10 NaN

In [4]:
df["d"] = df.sort("b").groupby("a").b.diff()
df

/home/yannick/bin/anaconda3/envs/py35/lib/python3.5/site-packages/ipykernel/__main__.py:1: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  if __name__ == '__main__':

   a   b   c   d
0  1   1 NaN NaN
1  1   3   2   2
2  1   4   1   1
3  2   2 NaN NaN
4  2   5   3   3
5  2   8   3   3
6  2   9   1   1
7  3  10 NaN NaN