In [1]:
sc

In [2]:
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
sqlContext

In [5]:
df = sqlContext.read.json("file:/usr/lib/spark/python/test_support/sql/people.json")
df.show()
df.printSchema()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [7]:
df.filter(df.age > 20).show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

In [11]:
df.write.parquet("people.parquet")

In [13]:
pdf = sqlContext.read.parquet("people.parquet")
pdf.show()

+----+-------+
| age|   name|
+----+-------+
|  19| Justin|
|null|Michael|
|  30|   Andy|
+----+-------+

In [15]:
pdf.registerTempTable("parquetFile")
sqlContext.sql("select * from parquetFile where age > 20").show()

+---+----+
|age|name|
+---+----+
| 30|Andy|
+---+----+

### Now some hive

In [18]:
# sc is an existing SparkContext.
from pyspark.sql import HiveContext
sqlContext = HiveContext(sc)

sqlContext.sql("CREATE TABLE IF NOT EXISTS src (key INT, value STRING)")
sqlContext.sql("LOAD DATA LOCAL INPATH '/usr/share/doc/hive-1.1.0+cdh5.5.0+323/examples/files/kv1.txt' INTO TABLE src")

# Queries can be expressed in HiveQL.
results = sqlContext.sql("FROM src SELECT key, value")
results.show()

+---+-------+
|key|  value|
+---+-------+
|238|val_238|
| 86| val_86|
|311|val_311|
| 27| val_27|
|165|val_165|
|409|val_409|
|255|val_255|
|278|val_278|
| 98| val_98|
|484|val_484|
|265|val_265|
|193|val_193|
|401|val_401|
|150|val_150|
|273|val_273|
|224|val_224|
|369|val_369|
| 66| val_66|
|128|val_128|
|213|val_213|
+---+-------+
only showing top 20 rows

In [19]:
results.write.parquet("kv1.parquet")
kvp = sqlContext.read.parquet("kv1.parquet")
kvp

DataFrame[key: int, value: string]

In [20]:
kvp.show()

+---+-------+
|key|  value|
+---+-------+
|238|val_238|
| 86| val_86|
|311|val_311|
| 27| val_27|
|165|val_165|
|409|val_409|
|255|val_255|
|278|val_278|
| 98| val_98|
|484|val_484|
|265|val_265|
|193|val_193|
|401|val_401|
|150|val_150|
|273|val_273|
|224|val_224|
|369|val_369|
| 66| val_66|
|128|val_128|
|213|val_213|
+---+-------+
only showing top 20 rows