In [1]:
library(dplyr)
library(tidyr)
library(stringr)

data(mtcars)

head(mtcars, 20)

Attaching package: 'dplyr'

The following objects are masked from 'package:stats':

    filter, lag

The following objects are masked from 'package:base':

    intersect, setdiff, setequal, union

                     mpg cyl  disp  hp drat    wt  qsec vs am gear carb
Mazda RX4           21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4
Mazda RX4 Wag       21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4
Datsun 710          22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1
Hornet 4 Drive      21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1
Hornet Sportabout   18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2
Valiant             18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1
Duster 360          14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4
Merc 240D           24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2
Merc 230            22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2
Merc 280            19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4
Merc 280C           17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4
Merc 450SE          16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3
Merc 450SL          17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3
Merc 450SLC         15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3
Cadillac Fleetwood  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4
Lincoln Continental 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4
Chrysler Imperial   14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4
Fiat 128            32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1
Honda Civic         30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2
Toyota Corolla      33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1

In [2]:
mtcars %>%
    group_by(cyl) %>%
    summarise(disp.avg    = mean(cyl),
              carb.max    = max(carb))

  cyl disp.avg carb.max
1   4        4        2
2   6        6        6
3   8        8        8

In [3]:
mtcars %>%
    group_by(cyl, carb) %>%
    summarise(cnt   = n()) %>% 
    spread(carb, cnt, fill = 0)

  cyl 1 2 3 4 6 8
1   4 5 6 0 0 0 0
2   6 2 0 0 4 1 0
3   8 0 4 3 6 0 1

In [4]:
spread

function (data, key, value, fill = NA, convert = FALSE, drop = TRUE,
    sep = NULL)
{
    key_col <- col_name(substitute(key))
    value_col <- col_name(substitute(value))
    spread_(data, key_col, value_col, fill = fill, convert = convert,
        drop = drop, sep = sep)
}
<environment: namespace:tidyr>

In [5]:
mtcars %>%
    mutate(model    = rownames(mtcars),
           brand    = word(model, 1)) %>%
    head(10)

    mpg cyl  disp  hp drat    wt  qsec vs am gear carb             model
1  21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4         Mazda RX4
2  21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4     Mazda RX4 Wag
3  22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1        Datsun 710
4  21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1    Hornet 4 Drive
5  18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2 Hornet Sportabout
6  18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1           Valiant
7  14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4        Duster 360
8  24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2         Merc 240D
9  22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2          Merc 230
10 19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4          Merc 280
     brand
1    Mazda
2    Mazda
3   Datsun
4   Hornet
5   Hornet
6  Valiant
7   Duster
8     Merc
9     Merc
10    Merc

In [6]:
branded <- mtcars %>%
    mutate(brand   = word(rownames(mtcars, 1))) %>%
    group_by(brand) %>%
    arrange(hp, disp) %>%
    mutate(nb      = row_number()) %>%
    ungroup()
branded %>%
    head(10)

    mpg cyl  disp  hp drat    wt  qsec vs am gear carb   brand nb
1  30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2   Honda  1
2  24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2    Merc  1
3  33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1  Toyota  1
4  32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1    Fiat  1
5  27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1    Fiat  2
6  26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2 Porsche  1
7  22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1  Datsun  1
8  22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2    Merc  2
9  21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1  Toyota  2
10 18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1 Valiant  1

In [7]:
branded %>%
    group_by(brand) %>%
    summarise(min.hp    = min(hp),
              max.hp    = max(hp),
              qty       = n())

      brand min.hp max.hp qty
1       AMC    150    150   1
2  Cadillac    205    205   1
3    Camaro    245    245   1
4  Chrysler    230    230   1
5    Datsun     93     93   1
6     Dodge    150    150   1
7    Duster    245    245   1
8   Ferrari    175    175   1
9      Fiat     66     66   2
10     Ford    264    264   1
11    Honda     52     52   1
12   Hornet    110    175   2
13  Lincoln    215    215   1
14    Lotus    113    113   1
15 Maserati    335    335   1
16    Mazda    110    110   2
17     Merc     62    180   7
18  Pontiac    175    175   1
19  Porsche     91     91   1
20   Toyota     65     97   2
21  Valiant    105    105   1
22    Volvo    109    109   1

In [10]:
doubled <- branded %>%
    mutate(previous = nb - 1) %>%
    left_join(branded %>% 
                 mutate(hp.prev    = hp,
                        nb.prev    = nb) %>%
                 select(hp.prev, nb.prev, brand),
              by = c("brand",
                     "previous" = "nb.prev")) %>%
    select(-previous) %>%
    mutate(hp.incr  = hp - hp.prev)

doubled %>%
    filter(brand %in% c("Hornet", "Merc", "Toyota")) %>%
    arrange(brand)

    mpg cyl  disp  hp drat    wt  qsec vs am gear carb  brand nb hp.prev
1  21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1 Hornet  1      NA
2  18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2 Hornet  2     110
3  24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2   Merc  1      NA
4  22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2   Merc  2      62
5  19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4   Merc  3      95
6  17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4   Merc  4     123
7  16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3   Merc  5     123
8  17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3   Merc  6     180
9  15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3   Merc  7     180
10 33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1 Toyota  1      NA
11 21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1 Toyota  2      65
   hp.incr
1       NA
2       65
3       NA
4       33
5       28
6        0
7       57
8        0
9        0
10      NA
11      32

In [9]:
branded %>%
    group_by(brand) %>%
    arrange(brand, hp, disp) %>%
    mutate(hp.cum   = cumsum(hp))

    mpg cyl  disp  hp drat    wt  qsec vs am gear carb    brand nb hp.cum
1  15.2   8 304.0 150 3.15 3.435 17.30  0  0    3    2      AMC  1    150
2  10.4   8 472.0 205 2.93 5.250 17.98  0  0    3    4 Cadillac  1    205
3  13.3   8 350.0 245 3.73 3.840 15.41  0  0    3    4   Camaro  1    245
4  14.7   8 440.0 230 3.23 5.345 17.42  0  0    3    4 Chrysler  1    230
5  22.8   4 108.0  93 3.85 2.320 18.61  1  1    4    1   Datsun  1     93
6  15.5   8 318.0 150 2.76 3.520 16.87  0  0    3    2    Dodge  1    150
7  14.3   8 360.0 245 3.21 3.570 15.84  0  0    3    4   Duster  1    245
8  19.7   6 145.0 175 3.62 2.770 15.50  0  1    5    6  Ferrari  1    175
9  32.4   4  78.7  66 4.08 2.200 19.47  1  1    4    1     Fiat  1     66
10 27.3   4  79.0  66 4.08 1.935 18.90  1  1    4    1     Fiat  2    132
11 15.8   8 351.0 264 4.22 3.170 14.50  0  1    5    4     Ford  1    264
12 30.4   4  75.7  52 4.93 1.615 18.52  1  1    4    2    Honda  1     52
13 21.4   6 258.0 110 3.08 3.215 19.44  1  0    3    1   Hornet  1    110
14 18.7   8 360.0 175 3.15 3.440 17.02  0  0    3    2   Hornet  2    285
15 10.4   8 460.0 215 3.00 5.424 17.82  0  0    3    4  Lincoln  1    215
16 30.4   4  95.1 113 3.77 1.513 16.90  1  1    5    2    Lotus  1    113
17 15.0   8 301.0 335 3.54 3.570 14.60  0  1    5    8 Maserati  1    335
18 21.0   6 160.0 110 3.90 2.620 16.46  0  1    4    4    Mazda  1    110
19 21.0   6 160.0 110 3.90 2.875 17.02  0  1    4    4    Mazda  2    220
20 24.4   4 146.7  62 3.69 3.190 20.00  1  0    4    2     Merc  1     62
21 22.8   4 140.8  95 3.92 3.150 22.90  1  0    4    2     Merc  2    157
22 19.2   6 167.6 123 3.92 3.440 18.30  1  0    4    4     Merc  3    280
23 17.8   6 167.6 123 3.92 3.440 18.90  1  0    4    4     Merc  4    403
24 16.4   8 275.8 180 3.07 4.070 17.40  0  0    3    3     Merc  5    583
25 17.3   8 275.8 180 3.07 3.730 17.60  0  0    3    3     Merc  6    763
26 15.2   8 275.8 180 3.07 3.780 18.00  0  0    3    3     Merc  7    943
27 19.2   8 400.0 175 3.08 3.845 17.05  0  0    3    2  Pontiac  1    175
28 26.0   4 120.3  91 4.43 2.140 16.70  0  1    5    2  Porsche  1     91
29 33.9   4  71.1  65 4.22 1.835 19.90  1  1    4    1   Toyota  1     65
30 21.5   4 120.1  97 3.70 2.465 20.01  1  0    3    1   Toyota  2    162
31 18.1   6 225.0 105 2.76 3.460 20.22  1  0    3    1  Valiant  1    105
32 21.4   4 121.0 109 4.11 2.780 18.60  1  1    4    2    Volvo  1    109